html,body{
    margin: 0;
    padding: 0;

    
}
.contact-us{
 background-color: #330000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23943333'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
 
}
.success{
    color:white;
}
.navbar-toggler-icon {
    background-image: url("menu.png") !important;
}
.nav-link{
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: .7em;
}
#contact-text{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 3em;
    color: #fff;
}
#contact2{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
#submit{
     color: #943333;
     min-width: 7em;
     border-radius: 2em;
     padding: .5em;
}
.map-section{
    margin-top: 3em;
}
#frame{
    width:600px;
     height:450px;
     border:0;
}
#phone-text{
    color: #fff;
     font-family: 'Lora', serif;
     font-size: .7em;
}


.footer {
  background-color: #fff;
}
.footer-title {
  font-weight: 600;
  color: #943333;
}
.footer-link {
  font-size: 0.7em;
  color: #943333;
}
#logo_title {
  font-size: 0.7em;
  max-width: 15em;
  font-family: "Lora", serif;
  color: #943333;
}

@media (min-width:200px) and (max-width:359px){
    html,body{
   
  overflow-x: hidden;
  position: relative;
    
    
}
#frame{
    width:300px;
     height:450px;
     border:0;
}
}
@media (min-width:360px) and (max-width:400px){
  html,body{
   
  overflow-x: hidden;
  position: relative;
    
    
}
#frame{
    width:330px;
     height:450px;
     border:0;
}   
}
@media(min-width:401px) and (max-width:500px){
    html,body{
   
  overflow-x: hidden;
  position: relative;
    
    
}
#frame{
    width:380px;
     height:450px;
     border:0;
}   
}
@media(min-width:501px) and (max-width:600px){
      html,body{
   
  overflow-x: hidden;
  position: relative;
    
    
}
#frame{
    width:490px;
     height:450px;
     border:0;
}  
}

@media (min-width: 910px) and (max-width: 1211px){
       html,body{
   
  overflow-x: hidden;
  position: relative;
    
    
}  
#frame{
    width:490px;
     height:450px;
     border:0;
}
}
