html,
body {
  margin: 0;
  padding: 0;
}
.contact-form{
  background-color:#F9C234;
  height: 10em;
  margin-bottom: 2em;
  margin-top: -5em;
  max-width: 75em;
justify-items: center;
}

.img-section{
  background-image: url("card31.png") !important;
  background-size: cover;
  height: 25em;
  width: 102%;
  margin-top: 0em;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#listing{
  min-width: 15em;
  height: 3em;
}

#offer{
  min-width: 15em;
  height: 3em;
}

#city{
  min-width: 15em;
  height: 3em;
}
#eko{
  margin-left: 0em;
  color: white;
  font-size:3.3em;
  font-family: 'Playfair Display', serif;
}
#reads{
color: #F9C234;
}
